.calendarContainer{
    position: relative;
    display: flex;

}

.calendarStyles{
    display: block;
    position: absolute;
    border-radius: 1rem;
    z-index: 4;
    width: 100%;

}

.buttonStyles{
    padding: 0.6rem 3rem;
    border-radius: 1rem;
    border: none;
    width: 100%; 
    text-align: left;
}

.startIcon{
    position: absolute;
    left: 1rem;
    top: 32%;
}

