

.calendarContainer{
    position: relative;
    display: flex;
    cursor: pointer;
}

.calendarStyles{
    display: block;
    position: absolute;
    border-radius: 1rem;
    z-index: 4;
    width: 100%;
    inset: 0;
    border: 0;
    padding: 0.6rem 2rem;

}

.buttonStyles{
    padding: 0.6rem 3rem;
    border-radius: 1rem;
    border: none;
    width: 100%; 
    text-align: left;
    background-color: white;
}

.startIcon{
    position: absolute;
    left: 1rem;
    top: 32%;
}

.grey{
    background-color: rgba(246, 247, 249, 1);
}