.sectionCommonStyles{
    padding-inline: var(--inlinePaddingDesktop);
    overflow-x: hidden;
}

.sectionCommonStyles>.popularCarSection{
   padding-inline: 0;
}

@media(max-width:835px){
    .sectionCommonStyles{
        /* padding-inline: 1rem; */
        padding-inline: var(--inlinePaddingSmallerDevice);

        position: relative;

      }
    }